language: r
cache: packages
notifications:
  email:
    on_success: change
    on_failure: change
r_packages:
- raster
- drat
after_success:
- test $TRAVIS_PULL_REQUEST == "false" && test $TRAVIS_BRANCH == "master" && bash
  deploy.sh
env:
  global:
  - secure: jm+claK8/1Ug0vbSGvtEfEgen/qKF5cHz9hoz28MFrbx9lCHkM3MABpvaR7WRsPYydTUrWfmAVimxZUp5cypsDmeRsrJGxcKjTqGW2FtZAX9MqP7BeVSfK1EqTJfHkrFl3XGhr5LKGy5oupB52pdxnq/KWEn/OXZCTh6iJAUDkI5uN65QabuY8fb2Kt9WbafjuWYX2M30WPfS2Cvi9Gam2F7tUOC3DXc+huRUmWW1tAFJYC9xDv8Q6AJ2iH5bAZW0S1/YDQEA5I2mh4dKriNR1hWF4fkjO9UM7Hsf++afm4L7kgZpTGxnNgYs/PVEau425YRfo5yuoiZ510aoo5ITgC0tTbb+hYwxBJRML58Qekil9N5v5xYtddoGEIIYrIM+Fn4hexFYhnNOZd19+k0fIJ1GFHG9lJ9pBHgf9PJOGwm4az6LmYOxlBSTm3v06kfMMTUaHJTOvehvmED1KDMm8bJwL8wPh8cc69Tztqcs7YXry63YkmNNyCg5A8awrR7TAU0BdrN23BPqmX2ncHa3awpWUEvZPtj8of0Mqd7qOPq0LvjhVWDxvcrf8IZnCL0dgwQiHXP06Orf75Yow7oKK9iBqBiyeAbvRYgkHeY9jwMpCN9TpYL+Jlcfx5h4Ia3X/jhNnScLwX3I75QA6ygrEC02MR2+4ElcDa78+//wts=
